#about{
    background-color: var(--bg);
}


#about .container {
    margin: 0;
}

#about .img {
    position: relative;
}
#about .img::before{
    content: ' ';
    background-color: var(--bgDark);
    width: 100%;
    height: 100%;
    position: absolute;
    left: -33%;
    top: -8%;
    z-index: 0;
}

#about .img img{
    position: relative;
    box-shadow: var(--bgLighteen);
}

#about .img img, 
#about .img::before{
    border-radius: 0.25rem;
}

#about .text{
    margin-left: var(--marginMedium);
    margin-right: var(--marginMedium);
}

#about .text h1{
    margin-bottom: var(--marginSmall);
}

#about .text p{
    margin-bottom: var(--marginBig);
}
