#contact {
    gap: 4rem;

}

#contact .text p{
    margin-bottom: 2rem !important;
}


#contact .button i, #contact ul li i{
    font-size: 1.5rem;
    margin-right: 0.625rem;
    color: var(--bgLighteen);
}

#contact ul.grid{
    gap: 2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
}