#contact {
    gap: var(--marginExtraBig);

}

#contact .text p{
    margin-bottom: var(--marginBig) !important;
}


#contact .button i, #contact ul li i{
    font-size: var(--marginMedium);
    margin-right: 0.625rem;
    color: var(--bgLighteen);
}

#contact ul.grid{
    gap: var(--marginBig);
}

#contact ul li {
    display: flex;
    align-items: center;
}