*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    font-size: 100%;

    /* colors */
    --bgDark: rgba(48, 34, 14, 1);
    --bg: rgba(255, 167, 36, 1);
    --bgLighteen: rgba(252, 211, 151, 1);
    --textcolorSnow: rgba(249, 249, 249, 1);
    --textColorWhite: rgba(255, 255, 255, 1); 

    /* font size*/
    --logoFontSize: 1.2rem;
    --subtittleFont: 1rem;
    --tittleFamily: 'Poppins', sans-serif;
    --subtittleFamily: 'DM Sans', sans-serif;

    /* margins */
    --marginSmall: 1rem;
    --marginMedium: 1.5rem;
    --marginBig: 2rem;
    --marginExtraBig: 4rem;
    --marginXXBig: 5rem;
    --headerHeight: 4.5rem;
}

html{
    scroll-behavior: smooth;
}

body {
    font: 400 var(--subtittleFont) var(--subtittleFamily);
    color: var(--bgDark);
    background-color: var(--textColorWhite);
    -webkit-font-smoothing:antialisiased;
}

.tittle{
    font: 700 1.85rem var(--tittleFamily);
    color: var(--bgDark);
}

img{
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.container{
    margin-left: var(--marginMedium);
    margin-right: var(--marginMedium);
}

