#header{
    border-bottom: 0.16rem solid lightgray;
    margin-bottom: 2rem;
    display: flex;
    
    width: 100%;
    background-color: var(--textColorWhite);
    position:fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

#header.scroll{
    box-shadow: 0px 0 12px rgba(0, 0, 0, 0.2);
    background-color: var(--bg);
    transition: background 0.2s;
}

#header.scroll .logo {
    color: var(--bgDark);
    transition: color 0.2s;
}

#header.scroll .icon-menu{
    color: var(--bgDark);
    transition: color 0.2s;
}


#header .logo{
    font-size: 1.2rem;
    color: var(--bg);
    font-family: Poppins,sans-serif;
    font-weight: 700;
    
}


#header .logo span{
    color: var(--bgLighteen);
}

nav{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


nav ul li{
    text-align: center;
}

nav ul li a{
    position: relative;
    transition: color 0.4s;
}

nav ul li a:hover{
    color: var(--bg);
}

nav ul li a::after{
    content:'';
    height: 2px;
    width: 0;
    background-color: var(--bg);

    position: absolute;
    bottom: -1.5rem;
    left: 0;
    transition: width 0.4s;
}


nav ul li a:hover::after{
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul{
    display: none;
}

/* ----- show ------ */
nav.show .menu{ 
    opacity: 1;
    visibility: visible;
    
    background-color: var(--textcolorSnow);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
    text-decoration: none;
}

nav.show .menu ul{
    display: grid;
}

nav.show ul.grid{
    gap: 4rem;
}

/*---- toogle menu ----*/


.toggle{
    color: var(--bgLighteen);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

nav .icon-close{
    visibility: hidden;
    opacity: 0;
    top: -1.5rem;
    position: absolute;
    right:1.5rem;
}

nav.show div.icon-close{
    visibility:visible;
    opacity: 1;

    position: absolute;
    right:1.5rem;
    top: 1.5rem;
    z-index: 28937928;
}