#home {
    overflow: hidden;
}
#home .container {
    margin: 0;
}

#home .img {
    position: relative;
}
#home .img::before{
    content: ' ';
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 16%;
    top: -16%;
    z-index: 0;
}

#home .img img{
    position: relative;
    right: 2.93rem;
    box-shadow: var(--bgLighteen);
}

#home .img img, 
#home .img::before{
    border-radius: 0.25rem;
}

#home .text{
    margin-left: var(--marginMedium);
    margin-right: var(--marginMedium);
    text-align: center;
}

#home .text h1{
    margin-bottom: var(--marginSmall);
}

#home .text p{
    margin-bottom: var(--marginBig);
}
